<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1>my page</h1>
  <div id="image">
    <img src={{url}} alt={{name}}>
    <img src={{src}} alt={{name}}>
    <img [src]="srcc" alt={{name}}>
    > 
  </div>
 
  <p>My name is {{name}}</p>
  <p>My rollno is {{rollno}}</p>
  <p>My marks are {{marks}}</p>

  <button draggable="true" [disabled]="isDisable" (click)="fun()">click me</button> -->



<div id="counter">
  <p id="count">{{count}}</p>
  <button (click)="incr()">+</button>
  <button (click)="decr()">-</button>
  <button (click)="reset()">Reset</button>

</div>

</body>
</html>